.body{
    
    background-color: rgba(255, 192, 203, 0.445);
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('IMG20231222085124.jpg');
    height: 100%;
    position: relative;
    padding-top: 250px;
    color: #d0d0d0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    
}

.nav{
   border: 2px solid red;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  
}
/* @media only screen and (max-width: 600px) {
    .head{
        flex-direction: column;
        padding-left: 20%;
        padding-top: -80px;

    }
}
@media only screen and (min-width: 1200px) {
    .head{
        display: flex;
        
    }
} */ 