.body{
    
    background-color: rgba(255, 192, 203, 0.445);
    background-image: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.644)), url('IMG20231222085124.jpg');
    height: 100%;
    position: relative;
    /* padding-top: 250px; */
     color: #fdfdfd; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-color:overlay;
    font-family: "Hind Siliguri", serif;
}

.nav{
   
 
    font-family: "Hind Siliguri", serif;
  
  
}
#img{
    width: 200px;
}

.map{
    width:"400";
    height:"300";
   
}
#fa{
    width: 40px;
    
}
    
#logo{
    width: 90px;
}
.sun{
    justify-content: center;
}