.body{
    
    background-color: rgba(255, 192, 203, 0.445);
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('IMG20231222085124.jpg');
    height: 100%;
    position: relative;
    padding-top: 250px;
    color: #d0d0d0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 1.10;
}

.nav{
 
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  
}
 /* @media screen and (min-width:576px) and (max-width:992px){
    .head{
       display: flex;
    }
    
} */
/* @media screen and (max-width : 576) {
    .head{
        text-align: center;
        padding-left: 40px;
    }
   .banner{
    
   }
} 
 */

 